*{
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: left;
    margin: 50px;
    font-size: 24px;
    padding: 25px 300px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    text-align: left;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
}

.hide {
    display: none;
}

#start {
    text-align: center;

}

.startBtn {
    display: inline;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    font-size: 34px;
    font-weight: lighter;
}

h3 {
    font-size: 34px;
    font-weight: lighter;
    
    
}

label {
    font-size: 34px;
    font-weight: lighter;
}

input {
    font-size: 34px;
    font-weight: lighter;
    width: 20%;
}


button {
    padding: 10px 24px;
    margin: 24px 0px;
    cursor: pointer;
    font-size: 24px;
    background-color: #001a4d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    display: block;
}

.buttons {
    display: inline;
}



@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
      padding: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
      padding: 0px;
    }
  }